name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-test:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: false

      - name: Check Python
        run: python --version

      - name: Install dependencies
        run: python -m pip install -r requirements.txt

      - name: Docker build
        run: docker build -t hr_ap2 .
